.list-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: white;
  }
  
  .list-elem__name {
    display: flex;
    text-align: center;
  }
  
  .list-elem p {
    color: #707070;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
  }
  
  @media (min-width: 580px) {
    .list-elem__name {
      align-items: center;
      flex: 1;
    }
  
    .list-elem__name p {
      font-size: 1.25rem;
    }
  }